<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>{{ title ?? entry.title }}</title>

    {% if craft.config.devMode %}
        {# When developing we want to load the in-memory version for quick,
            sans-reload developing. Make sure ot run `npm run dev`! #}
        <script src="http://localhost:8080/dist/js/app.js"></script>
    {% else %}
        {# Elsewhere we'll have statically compiled asets. This inserts them
            into the page from the manifest files. #}
        {{ craft.twigpack.includeCssModule('app.css', true) }}
        {{ craft.twigpack.includeCssRelPreloadPolyfill() }}

        {{ craft.twigpack.includeSafariNomoduleFix() }}
        {{ craft.twigpack.includeJsModule('app.js', true) }}
    {% endif %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
