<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>

    <title>{{ title ?? entry.title }}</title>

    {{ craft.twigpack.includeCssModule("styles.css", true) }}
    {{ craft.twigpack.includeCssRelPreloadPolyfill() }}

    {{ craft.twigpack.includeSafariNomoduleFix() }}
    {{ craft.twigpack.includeJsModule("app.js", true) }}
</head>
<body>
    <h1>Dev Mode? {{ craft.config.devMode ? 'Yes' : 'No' }}</h1>

    {% block content %}{% endblock %}
</body>
</html>
